.signup-container {
  width: 40%;
  height: auto;
  background-color: white;
  margin: auto;
  margin-top: 50px;

  .signup-container-text {
    padding: 20px;
    width: 70%;
    margin: auto;

    input {
      border: 0px;
    }

    .six-storage-MuiFormLabel-root {
      // font-weight: 800;
      color: #0e1b47;
      font-size: 12px;
    }
    h1 {
      text-align: left;
      color: rgb(27, 35, 141);
    }

    .icon-clr {
      color: #0e1b47;
    }

    .active-btn {
      background-color: rgb(27, 35, 141);
      margin: 12px;
    }

    .disable-btn {
      background-color: grey !important;
      margin: 12px;
    }
  }
}
